<%= form_for @parking do |f| %>

  <% if @parking.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:
      </h2>
      <ul>
        <% @parking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :places %><br>
    <%= f.text_field :places %>
  </p>

  <p>
    <%= f.label :kind %><br>
    <%= f.select :kind, Parking::KINDS.map { |kind| [kind.capitalize, kind] } %>
  </p>

  <p>
    <%= f.label :hour_price %><br>
    <%= f.text_field :hour_price %>
  </p>

  <p>
    <%= f.label :day_price %><br>
    <%= f.text_field :day_price %>
  </p>

  <%= f.fields_for :address do |address_fields| %>
  <h2>Address</h2>
  <p>
    <%= address_fields.label :city %><br>
    <%= address_fields.text_field :city %>
  </p>

  <p>
    <%= address_fields.label :street %><br>
    <%= address_fields.text_field :street %>
  </p>

  <p>
    <%= address_fields.label :zip_code %><br>
    <%= address_fields.text_field :zip_code %>
  </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
