<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class='glyphicon glyphicon-search'></span> <%= t("parkings.search.title") %></h3>
  </div>
  <div class="panel-body center-block">
    <%= form_tag parkings_path, method: 'get', class: "form-horizontal" do %>
    <div class="col-md-5">
      <div class="form-group">
        <%= label_tag :city_name, t("parkings.search.city"), class: "col-lg-3 control-label" %>
        <div class="col-lg-9">
          <%= text_field_tag :city_name, params[:city_name], class: 'form-control', placeholder: "City" %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label class="col-lg-3 control-label"><%= t("parkings.search.day_price_range") %></label>
        <div class="col-lg-9 form-inline">
          <%= text_field_tag :day_price_min, params[:day_price_min], class: 'form-control', placeholder: "From" %>
          <%= text_field_tag :day_price_max, params[:day_price_max], class: 'form-control', placeholder: "To" %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <div class="col-lg-6">
          <div class="checkbox">
            <label>
              <%= check_box_tag :private, :private, params[:private] %>
              <%= label_tag :private, t("parkings.search.private") %>
            </label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="checkbox">
            <label>
              <%= check_box_tag :public, :public, params[:public] %>
              <%= label_tag :public, t("parkings.search.public") %>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label class="col-lg-3 control-label"><%= t("parkings.search.hour_price_range") %></label>
        <div class="col-lg-9 form-inline">
          <%= text_field_tag :hour_price_min, params[:hour_price_min], class: 'form-control', placeholder: "From" %>
          <%= text_field_tag :hour_price_max, params[:hour_price_max], class: 'form-control', placeholder: "To" %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <div class="text-center">
          <%= submit_tag t("parkings.search.submit"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
