<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "bootcamp app", root_path, id: "logo" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to t("menu.parkings"), parkings_path %></li>
        <% if current_person %>
          <li><%= link_to t("menu.cars"), cars_path %></li>
          <li><%= link_to t("menu.place_rents"), place_rents_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_person %>
          <li><%= link_to t("menu.log_out"), logout_path %></li>
        <% else %>
          <li><%= link_to t("menu.sign_up"), register_path %></li>
          <li><%= link_to t("menu.log_in"), login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
