<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "bootcamp app", root_path, id: "logo" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Parkings", parkings_path %></li>
        <% if current_person %>
          <li><%= link_to "Cars", cars_path %></li>
          <li><%= link_to "Place Rents", place_rents_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_person %>
          <li><%= link_to "Log out", logout_path %></li>
        <% else %>
          <li><%= link_to "Sign up", register_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
