<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'flash' %>
<ul>
  <li><%= link_to "Parkings", parkings_path %></li>
  <li><%= link_to "Cars", cars_path %></li>
  <li><%= link_to "Place Rents", place_rents_path %></li>
</ul>

<p>
  <% if current_person %>
    Hello <%= current_person.full_name %>
  <% else %>
    <%= link_to "Sign up", new_account_path %> |
    <%= link_to "Log in", new_session_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
